.account-block {
    position: relative;
    background: #FFFFFF;
    color: #000000;
    width: 240px;
    border-radius: 5px;
    height: 160px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 16.5px;
    -webkit-app-region: no-drag;

    &.breaker {
        margin-right: 0;
    }

    &:hover {
        color: #000000;
    }
    &:focus {
        text-decoration: none;
    }
    .account-id {
        position: absolute;
        top: -25px;
        height: 50px;
        width: 50px;
        line-height: 50px;
        border-radius: 50%;
        color: #376FFF;
        text-align: center;
        background: #FFFFFF;
        font-family: PingFangTC-Regular;
        font-size: 16px;
    }
    .account-remove {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
    }
    .account-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
        padding: 20px;
        p {
            margin: 0;
            word-break: break-all;
            text-align: center;
            &.account-name {
                font-size: 12px;
                position: absolute;
                top: 30px;
            }
            &.account-cions {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 22px;
                line-height: 1.2;
                font-family: PingFangTC-Regular;
            }
            &.account-by {
                font-size: 13px;
            }
            &.account-key {
                color: #8c8c8e;
                font-size: 12px;
                position: absolute;
                bottom: 15px;
                padding: 0 15px;
            }
        }
    }
}

.modal-footer-container {
    display: flex;
    justify-content: space-around;
}

.modal-title-container {
    text-align: center;
}
