.home-container {
    height: 100vh;

    .home-header {
        color: #ffffff;
        background: #333333;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: center;

        span {
            font-family: Skia;
        }
    }

    .content {
        padding: 24px;
        background: #fff;
    }
}

button {
    -webkit-app-region: no-drag;
}

.titlebar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
