.create-account-container {
    -webkit-app-region: no-drag;
    .create-account-card {
        position: relative;
        width: 240px;
        border-radius: 5px;
        height: 160px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        border: 1px dashed #FFFFFF;
        cursor: pointer;
        outline: none;
        .icon {
            font-size: 30px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        span {
            position: absolute;
            bottom: 50px;
            color: #ffffff;
        }
    }
}

.create-account-modal {
    .ant-modal-header,
    .ant-modal-footer {
        border: 0 !important;
    }
    .ant-modal-header {
        padding: 24px 16px 0;
        font-family: PingFangTC-Regular;
    }
    .ant-modal-footer {
        padding: 10px 16px 35px !important;
    }
    .ant-modal-body {
        padding: 34px 24px 0 !important;
    }
    .modal-title-container {
        text-align: center;
    }
    .ant-form-item {
        &:first-child {
            margin-bottom: 15px;
        }
    }
    .modal-title-container {
        font-family: PingFangTC-Regular;
    }
    .modal-footer-container {
        display: flex;
        justify-content: space-around;
        button {
            width: 150px;
            height: 35px;
            border-radius: 25px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
            font-family: PingFangTC-Regular;
            color: #fff;
            border: 0;
            &.cancel {
                background: #f5f5f5;
                color: rgba(0, 0, 0, 0.25);
            }
            &.ok {
                background: #376FFF;
                color: #FFFFFF;
                &:disabled {
                    background: #f5f5f5;
                    color: rgba(0, 0, 0, 0.25);
                }
            }
        }
    }
}
