.create-account-container {
    -webkit-app-region: no-drag;

    .create-account-card {
        position: relative;
        width: 240px;
        border-radius: 5px;
        height: 160px;
        background: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        border: 1px dashed #FFFFFF;
        cursor: pointer;
        outline: none;

        .icon {
            font-size: 30px;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        span {
            position: absolute;
            bottom: 50px;
            color: #ffffff;
        }
    }
}

.create-account-tip {
    text-align: center;
}

.modal-footer-container {
    display: flex;
    justify-content: space-around;
}

.modal-title-container {
    text-align: center;
}
