.logo {
    height: 32px;
    border-radius: 6px;
    margin: 16px 16px 22px 16px;
    text-align: center;
    line-height: 32px;
    img {
        height: 16px;
        margin-top: 15px;
    }
}

.ant-menu-item {
    display: flex;
    align-items: center;
    -webkit-app-region: no-drag;
    i {
        font-size: 17px;
        color: #8c8c8e;
        transition: all .5s;
    }
}

.ant-menu-item>a {
    display: inline-block !important;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    color: #8c8c8e !important;
}

.side-container,
.side-container .ant-menu-dark {
    background: #1b1b1b !important;
}

.side-item.ant-menu-inline .ant-menu-item {
    margin: 0;
    font-family: PingFangTC-Regular;
    &:hover {
        background: #2f3033 !important;
    }
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: #2f3033 !important;
    i {
        background-image: radial-gradient(circle farthest-side at 0% 40%, #376FFF, #FF62F5);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    a {
        color: #FFFFFF !important;
    }
}
