.logo {
    height: 32px;
    border-radius: 6px;
    margin: 16px;
    text-align: center;
    line-height: 32px;

    img {
        height: 20px;
        margin-top: 15px;
    }
}

.ant-menu-item {
    -webkit-app-region: no-drag;
}

.ant-menu-item>a {
    display: inline-block !important;
    color: #ffffff;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
}

.side-container,
.side-container .ant-menu-dark {
    background: #1F1F1F !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: #15171C !important;
}

.side-item.ant-menu-inline .ant-menu-item {
    margin: 0;
}
