.account-list-container {
    .account-list_content {
        margin-top: 70px;

        .account-list-table_header {
            .header-title {
                font-family: PingFangTC-Medium;
                font-size: 18px;
            }

            .header-desc {
                font-family: PingFangTC-Regular;
                font-size: 13px;
                margin-left: 20px;
                color: #BEC6E6;
            }
        }
    }
}
